<div class='mod modIconText moveup' data-delay='0'>
  <div class='icon-text-advanced' data-bg="{{ include.service.bg | relative_url }}">
    <div class='wrapper'>
      <div class='content'>
        <i class='{{ include.service.icon }}'></i>
      </div>
    </div>
    <h3>{{ include.service.title | escape }}</h3>
    <p>{{ include.service.desc | escape }}</p>

<center><p><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="{{ include.service.paypal }}">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></p></center>
    <div class="spacing"></div>
  </div>
</div>
